# Arquivos de ambiente
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Bytecode compilado / otimizado / DLL
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# Arquivos de log
*.log

# Arquivos de sessão do WhatsApp
*.data.json

# Arquivos de sistema
.DS_Store
Thumbs.db

# Editores de código
.idea/
.vscode/
*.swp
*.swo 

.cursor/
node_modules/
